<% painting = data.paintings.fetch(painting_slug) %>
<div
  data-target='lightbox.painting'
  data-action='click->lightbox#show'
  class="painting"
  data-alt="<%= painting.title %>"
  data-title="<%= painting.title %>"
  data-srcset="<%= image_path painting.image, resize_to: '176x176' %> 176w,
          <%= image_path painting.image, resize_to: '352x352' %> 352w,
          <%= image_path painting.image, resize_to: '880x880' %> 880w,
          <%= image_path painting.image, resize_to: '1600x1600' %> 1408w"
  data-sizes="(max-width: 500px) 75vw,
          (max-width: 1000px) 75vw,
          (max-width: 1500px) 75vw,
          1600px"
  data-src="<%= image_path painting.image, resize_to: '176x176' %>"
  data-title="<%= painting.title %>"
  data-date="<%= painting.date %>"
  data-dimensions="<%= escape_html(painting.dimensions) %>"
  data-medium="<%= painting.medium %>"
  data-sold="<%= painting.sold ? 'Sold' : 'Available' %>"
>
  <img
    src="<%= image_path painting.image, resize_to: '176x176' %>"
    alt="<%= painting.title %>"
    title="<%= painting.title %>"
  />
</div>
